<form #f="ngForm" (ngSubmit)="onSubmit(f)" id="ppForm">
  <div class="d-flex flex-column justify-content-center">
    <div class="align-self-center" style="width: 100%">
      <div class="container">
        <div class="row pp-header mb-1">
          <div class="col p-2">
            <span class="fw-bold">Week of</span>
            <input
              type="text"
              class="form-control form-control-sm d-inline-block w-25 ms-2"
              name="ppWeekOf"
              ngModel
              style="max-width: 40px; text-align: center;">
            <span class="fw-bold ms-2"> Year</span>
            <input
              type="text"
              class="form-control form-control-sm d-inline-block w-25 ms-2"
              name="ppYearOf"
              ngModel
              style="max-width: 60px; text-align: center;">
          </div>
        </div>
        <div class="row pp-weeks">
          <div class="col-sm-12 col-md-6">
            <div class="pp-week-item d-flex" *ngFor="let week of days">
              <span class="pp-week-name text-uppercase fw-bold">{{ week }}</span>
              <div class="pp-sections flex-grow-1">
                <div class="pp-sec-item d-flex" *ngFor="let sec of sections; let i = index">
                  <div class="pp-sec-item-label text-uppercase" [style.width.px]="i === 4 ? 95 : 130">{{ sec }}:</div>
                  <div class="flex-grow-1">
                    <ng-container *ngIf="i === 4; else txtInput">
                      <label class="pp-item-tec" *ngFor="let tec of techniques">
                        <input
                          type="checkbox"
                          [name]="getSecItemName(week, sec, tec)"
                          [ngModel]="false"
                        >{{ tec }}
                      </label>
                    </ng-container>
                    <ng-template #txtInput>
                      <input
                        type="text"
                        class="form-control form-control-sm w-100"
                        [name]="getSecItemName(week, sec)"
                        ngModel>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="d-flex pp-spec-item">
              <div class="flex-fill pp-spec-left-box">
                <div [style.height.px]="75">
                  <label for="ppHurryPrac" class="m-0">
                    <span class="text-uppercase fw-bold">Time Management:</span><br>
                    <small>If I am too busy for a full practice, I will spend 5 minutes on:</small>
                  </label>
                </div>
                <input type=text class="form-control form-control-sm" name="ppHurryPrac" id="ppHurryPrac">
              </div>
              <div class="flex-fill text-center">
                <div [style.height.px]="75">
                  <label for="ppKeySig" class="m-0 text-uppercase fw-bold">Key Signature of<br>The Week:</label>
                </div>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="ppKeySig"
                  id="ppKeySig"
                  ngModel>
              </div>
            </div>
            <div class="d-flex pp-spec-item">
              <div class="flex-fill me-2 pp-spec-left-box">
                <label for="ppGoals" class="m-0 text-uppercase fw-bold">Goals:</label>
                <textarea
                  type=text
                  class="form-control pp-goals"
                  name="ppGoals"
                  id="ppGoals"
                  rows="8"
                  ngModel
                ></textarea>
              </div>
              <div>
                <label class="m-0 text-uppercase fw-bold">I Practiced On:</label>
                <div *ngFor="let pracWeek of days">
                  <label class="mb-0">
                    <input
                      type="checkbox"
                      name="ppPrac{{pracWeek}}"
                      [ngModel]="false"
                    > {{ pracWeek }}
                  </label>
                </div>
              </div>
            </div>
            <div class="pp-spec-item">
              <label for="ppNotes" class="m-0 text-uppercase fw-bold">Notes:</label>
              <textarea
                type=text
                class="form-control pp-notes"
                name="ppNotes"
                id="ppNotes"
                ngModel
              ></textarea>
            </div>
            <div class="pp-spec-item">
              <label class="m-0 text-uppercase mb-1 fw-bold">Reflection:</label>
              <div class="mb-2">
                <label for="ppMostJoy">The thing I enjoyed practicing the most was:</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="ppMostJoy"
                  id="ppMostJoy"
                  ngModel>
              </div>
              <div class="mb-2">
                <label for="ppMostCh">The thing I was most challenged by was:</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="ppMostCh"
                  id="ppMostCh"
                  ngModel>
              </div>
              <div class="mb-2">
                <label>After practice I generally felt:</label>
                <div>
                  <label *ngFor="let level of ['Happy', 'Calm', 'Accomplished']; let y = index" class="me-2 mb-0">
                    <input
                      [value]="level"
                      type="radio"
                      name="ppRefLevel"
                      id="ppRefLvl{{y}}"
                      ngModel
                    > {{ level }}
                  </label>
                </div>
              </div>
              <div>
                <label for="ppRefOther">Other:</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="ppRefOther"
                  id="ppRefOther"
                  ngModel>
              </div>
            </div>
          </div>
        </div>
        <div class="row pp-footer">
          <div class="col p-2 text-center"><small>
            This is a <a href="https://www.pianote.com/" target="_blank">Pianote</a> Community project.<br>
            <small>developed with <fa-icon [icon]="$any(faHeart)"></fa-icon> by <a href="https://github.com/JohnnyDevNull" target="_blank">Philipp John (aka JohnnyDevNull)</a>.</small><br>
            <small>Version {{ version }}</small>
          </small></div>
        </div>
      </div>
    </div>
  </div>
</form>
<button type="button" class="btn btn-primary pp-btn-dark pp-print-btn" (click)="onPrint()">Print</button>
<button type="submit" class="btn btn-primary pp-btn-dark pp-submit-btn d-none" form="ppForm">Backup</button>
<a #downloadAnchor class="d-none"></a>
